footer
  .col.col4
    h4 dolor sit
      i.fas.fa-globe-asia
    ul.f_list
      li FAQ
      li CONTACT US
      li TERMS & CONDITIONShttp://localhost:3000/

      li PRIVACY POLICY
  .col.col2
    h4 Lorem
     i.fas.fa-sun
    ul.f_list
      li
       a(href='#') faq
      li
       a(href='#') contact us
      li
       a(href='#') terms & conditions
      li
       a(href='#') privacy policy

  .col.col3
    h4 get social
    ul.f_list
       li
         a(href='#')
          i.fab.fa-instagram
       li
         a(href='#')
          i.fab.fa-facebook-f
       li
        a(href='#')
         i.fab.fa-twitter
  .col.col1
    h4 about
    h1 weather
    span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere corporis aliquam autem quas enim, tempora voluptatem repudiandae error. Modi, vel.

